body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
#actionbutton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



#actionbutton:hover {
  background-color: #45a049;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 60px;
  margin-top: 10px; 
}

.input_size{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
  font-size: 1.5rem
}

.input_value{
  padding: 4px;
}


.ChemDoodleWebComponent {
	border: 1px solid black;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
  margin-top: 20px;
}